 .pokemonInfoCard {
     position: fixed;
     z-index: 999;
     width: 456px;
     border-radius: 40px;
     color: white;
     border: solid;
 }

 .infoContainer {
     display: flex;
     flex-direction: column;
     background-color: white;
     border-radius: 32px;
     margin-top: 144px;
 }

 .symbolsContainer {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 16px;
 }

 .symbolsContainer img:hover {
     cursor: pointer;
     transform: scale(1.4);
 }

 .InfoImageContainer {
     display: flex;
     justify-content: center;
     margin-top: -200px;
     margin-bottom: 8px;
 }

 .InfoImageContainer img {
     width: 240px;
     filter: drop-shadow(2px 4px 6px black);
 }

 .statsHeader {
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     margin-bottom: 8px;
 }

 .statsHeader span {
     color: #C3C4C8;
     border-bottom: solid;
 }

 .statsHeader span:hover {
     cursor: pointer;
     color: black;
 }

 .statsContent {
     display: flex;
     gap: 80px;
 }

 .statsContentProperties {
     display: flex;
     flex-direction: column;
     color: #AEB3B6;
     gap: 16px;
 }

 .statsContentValues {
     display: flex;
     flex-direction: column;
     gap: 16px;
     color: black;
 }

 .myChart {
     margin: 16px;
 }

 .leftRightContainer {
     display: flex;
     justify-content: space-between;
     position: relative;
     margin-top: 56px;
     gap: 325px;
 }

 .leftRightContainer img:hover {
     cursor: pointer;
     transform: scale(1.4);
 }

 #previous {
     position: absolute;
     left: 32px;
 }

 #next {
     position: absolute;
     right: 32px;
 }

 .filledHeart {
     width: 24px;
     margin-right: 4px;
 }

 .movesContainer {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     max-height: 200px;
     padding: 24px 32px;
     overflow-y: auto;
     margin-bottom: 16px;
     gap: 8px;
 }

 .movesContainer span {
     height: 24px;
     color: white;
     padding: 4px 16px;
     border-radius: 24px;
 }

 .evoContainer {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 32px 0 24px 0;
     gap: 16px;
 }

 .evoContainer div {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .evoContainer span {
     height: 24px;
     color: white;
     padding: 4px 16px;
     border-radius: 24px;
     font-weight: 600;
 }

 .evolutionImg {
     width: 168px;
 }

 .dNone {
     display: none;
 }


 /* media queries */
 @media ((min-width: 400px) and (max-width: 650px)) {
     .pokemonInfoCard {
         width: 384px;
     }
 }

 @media(max-width: 400px) {
     .pokemonInfoCard {
         width: 304px;
     }

     .symbolsContainer {
         margin-bottom: 56px;
     }

     .InfoImageContainer {
         margin-top: -152px;
         margin-bottom: 16px;
     }

     .InfoImageContainer img {
         width: 192px;
     }

     .statsHeader span {
         font-size: 18px;
     }

     .leftRightContainer {
         margin-top: 24px;
     }

     .statsContent {
         gap: 40px;
     }
 }